= render 'layouts/nav/admin_settings'
.scrolling-tabs-container{ class: nav_control_class }
  .fade-left
    = icon('angle-left')
  .fade-right
    = icon('angle-right')
  %ul.nav-links.scrolling-tabs
    = nav_link(controller: %w(dashboard admin projects users groups builds runners cohorts), html_options: {class: 'home'}) do
      = link_to admin_root_path, title: 'Overview', class: 'shortcuts-tree' do
        %span
          Overview
    = nav_link(controller: %w(conversational_development_index system_info background_jobs logs health_check requests_profiles audit_logs)) do
      = link_to admin_conversational_development_index_path, title: 'Monitoring' do
        %span
          Monitoring

    = nav_link(controller: :broadcast_messages) do
      = link_to admin_broadcast_messages_path, title: 'Messages' do
        %span
          Messages
    = nav_link(controller: [:hooks, :hook_logs]) do
      = link_to admin_hooks_path, title: 'Hooks' do
        %span
          System Hooks

    = nav_link(controller: :applications) do
      = link_to admin_applications_path, title: 'Applications' do
        %span
          Applications

    = nav_link(controller: :abuse_reports) do
      = link_to admin_abuse_reports_path, title: "Abuse Reports" do
        %span
          Abuse Reports
          %span.badge.count= number_with_delimiter(AbuseReport.count(:all))

    - if akismet_enabled?
      = nav_link(controller: :spam_logs) do
        = link_to admin_spam_logs_path, title: "Spam Logs" do
          %span
            Spam Logs

    = render 'layouts/nav/admin_ee'
