= content_for :sub_nav do
  .scrolling-tabs-container.sub-nav-scroll
    = render 'shared/nav_scroll'
    .nav-links.sub-nav.scrolling-tabs
      %ul{ class: container_class }
        = nav_link(path: 'groups#edit') do
          = link_to edit_group_path(@group), title: 'General' do
            %span
              General

        = nav_link(path: 'groups#projects') do
          = link_to projects_group_path(@group), title: 'Projects' do
            %span
              Projects

        = render 'groups/ee/settings_nav'
