= render "projects/services/#{@service.to_param}/slack_button"
- slack_integration = @service.slack_integration
- if slack_integration
  %table.table
    %colgroup
      %col
      %col
      %col.hidden-xs
      %col{ width: "120" }
    %thead
      %tr
        %th Team name
        %th Project alias
        %th Created at
        %th Actions
    %tr
      %td
        = slack_integration.team_name
      %td
        = slack_integration.alias
      %td.light
        = time_ago_in_words slack_integration.created_at
        ago
      %td.light
        - project = @service.project
        = link_to 'Remove', namespace_project_settings_slack_path(project.namespace, project), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }
