= form_for [@project.namespace.becomes(Namespace), @project, @variable] do |f|
  = form_errors(@variable)

  .form-group
    = f.label :key, "Key", class: "label-light"
    = f.text_field :key, class: "form-control", placeholder: "PROJECT_VARIABLE", required: true
  .form-group
    = f.label :value, "Value", class: "label-light"
    = f.text_area :value, class: "form-control", placeholder: "PROJECT_VARIABLE"
  = render 'projects/variables/ee/environment_scope', f: f
  .form-group
    .checkbox
      = f.label :protected do
        = f.check_box :protected
        %strong Protected
      .help-block
        This variable will be passed only to pipelines running on protected branches and tags
        = link_to icon('question-circle'), help_page_path('ci/variables/README', anchor: 'protected-secret-variables'), target: '_blank'

  = f.submit btn_text, class: "btn btn-save"
