- issuable = local_assigns.fetch(:issuable)

- return unless issuable.project.feature_available?(:merge_request_squash)

.form-group
  .col-sm-10.col-sm-offset-2
    .checkbox
      = label_tag 'merge_request[squash]' do
        = hidden_field_tag 'merge_request[squash]', '0', id: nil
        = check_box_tag 'merge_request[squash]', '1', issuable.squash
        Squash commits when merge request is accepted.
        = link_to 'About this feature', help_page_path('user/project/merge_requests/squash_and_merge')
